name: Currency Converter Deployment

on:
    push:
        branches: ["main","master"]
    pull_request:
        branches: ["main", "master"]
env:
    HARBOR_REGISTRY: registry.dwong.space
    IMAGE_NAME: currency-converter/money-converter
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Run Trivy FS
              uses: aquasecurity/trivy-action@master
              with:
                scan-type: "fs"
                scan-ref: "."
                format: "table"
                severity: "CRITICAL,HIGH"
                exit-zero: 1
                ignore-unfixed: true

            - name: Build Docker Image
              run: |
                docker build -f docker/Dockerfile -t currency-converter .
            
            - name: Run Trivy 
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ${{ env.HARBOR_REGISTRY }}/${{env.IMAGE_NAME}}:${{github.sha}}
                format: "table"
                severity: "CRITICAL,HIGH"
                exit-zero: 1
                ignore-unfixed: true
                vuln-type: "os,library"
            
            - name: Report Status
              if: always()
              run: echo "Security scan completed"
            - name: Login to Harbor 
              uses: docker/login-action@v2
              with:
                registry: ${{ env.HARBOR_REGISTRY }}
                username: ${{ secrets.HARBOR_USERNAME }}
                password: ${{ secrets.HARBOR_PASSWORD }}
            
            - name: Tag and push latest
              run: |
                docker tag ${{ env.HARBOR_REGISTRY }}/${{env.IMAGE_NAME}}:${{github.sha}} ${{ env.HARBOR_REGISTRY }}/${{env.IMAGE_NAME}}:latest
                docker push ${{ env.HARBOR_REGISTRY }}/${{env.IMAGE_NAME}}:latest
              

                