name: Currency Converter Deployment

on:
    push:
        branches: ["main","master"]
    pull_request:
        branches: ["main", "master"]
env:
    IMAGE_NAME: currency-converter
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Run Trivy FS
              uses: aquasecurity/trivy-action@master
              with:
                scan-type: "fs"
                scan-ref: "."
                format: "table"
                severity: "CRITICAL,HIGH"
                exit-zero: true
                ignore-unfixed: true

            - name: Build Docker Image
              run: |
                docker build -f docker/Dockerfile -t currency-converter .
            
            - name: Run Trivy 
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ${{secrets.HARBOR_USERNAME}}/${{env.IMAGE_NAME}}:${{github.sha}}
                format: "table"
                severity: "CRITICAL,HIGH"
                exit-zero: true
                ignore-unfixed: true
                vuln-type: "os,library"

            - name: Login to Harbor 
              uses: docker/login-action@v2
              with:
                registry: registry.dwong.space
                username: ${{ secrets.HARBOR_USERNAME }}
                password: ${{ secrets.HARBOR_PASSWORD }}
            
            - name: Tag and push latest
              run: |
                docker tag ${{secrets.HARBOR_USERNAME}}/${{env.IMAGE_NAME}}:${{github.sha}} ${{secrets.HARBOR_USERNAME}}/${{env.IMAGE_NAME}}:latest
                docker push ${{secrets.HARBOR_USERNAME}}/${{env.IMAGE_NAME}}:latest
              

                